<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/person/form']">
        Crear Cliente
      </button>
    </div>
    <div>
      <div class="alert alert-info" *ngIf="personas?.length<=0">
        No hay registros en la base de datos!
      </div>
    </div>
    <form #clienteForm="ngForm">
      <table class="table table-bordered table-striped" *ngIf="personas?.length>0">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>Estado de proceso</th>

            <th>
              Acciones
            </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas">
            <td>{{ persona.id }}</td>
            <td>{{ persona.name }}</td>
            <td>{{ persona.surname }}</td>
            <td>
              <div class="form-check" style="margin: auto auto;" *ngIf="persona.process else check">
                 <input class="form-check-input" type="checkbox" checked (change)="checkValue(persona.process)">
                <label class="form-check-label" for="defaultCheck1" >
                  Procesado
                </label>
              </div>
              <ng-template #check>
                <div class="form-check" *ngIf="!persona.process">
				  <input class="form-check-input" type="checkbox">
               
                  <label class="form-check-label" for="defaultCheck1">
                    No Procesado
                  </label>
                </div>
              </ng-template>
            </td>
            <td>
              <button type="button" name="editar"  [routerLink]="['/person/form', persona.id]"
                class="btn btn-primary btn-sm">Cambiar Estado</button>
            </td>

          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>